{% extends 'main/base.html' %}
{% block content %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 96%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 96%;
        margin: 0;
        padding: 0;
      }
    </style>
    <div id="map">
      <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.457734, lng: -70.6638545},
          zoom: 19
        });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {

            var l = "{{ lugares }}";
            var lugares = JSON.parse(l);

            var n = "{{ vendedoresNombres }}";
            var nombres = JSON.parse(n.replace(/&quot;/g,'"'));

            var v = "{{ vendedores }}";
            var vendedores = JSON.parse(v);

            var f = "{{ favoritos }}";
            var favoritos = JSON.parse(f);

            var arrayLength = lugares.length;

            for (var i = 0; i < arrayLength; i++) {
                var lugar = lugares[i];
                var vendedor = vendedores.indexOf(lugar[3]);
                var imageUrl = "https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Food-Dome-512.png";
                var size = new google.maps.Size(40, 40);
                var fav = false;
                var length = favoritos.length;
                for(var j = 0; j < length; j++) {
                    if(vendedores[i] == favoritos[j]) {
                        fav = true;
                        break;
                    }
                }

                if(fav) {
                    var imageUrl = "https://lh3.googleusercontent.com/NAMrrf3Go4pA4VfETmWDlMoO_R1MtHSiiZkXepaCLaEibQNeghbNgSRlG75cJGs1bM0BktMjx5obcm0=w1089-h633";
                    var size = new google.maps.Size(50, 50);
                }

                var markerImage = {
                    url: imageUrl,
                    scaledSize: size,
                };

                var myLatLng = {lat: lugar[0], lng: lugar[1]};
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: nombres[vendedor].toString(),
                    icon: markerImage
                });


                marker.addListener('click', (function(vendedor) {
                    return function(){
                        var url = "{% url 'fichaVendedor' id %}";
                        location.href = url + vendedores[vendedor];
                    }
                })(vendedor));
            }

            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };



            var image = {
                url: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Rebel_Alliance_logo.svg/220px-Rebel_Alliance_logo.svg.png",
                // This marker is 20 pixels wide by 32 pixels high.
                scaledSize: new google.maps.Size(0, 0),
              };


            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: "Tu ubicación",
                icon: image,
            });

            map.setCenter(pos);

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA697hvbSldh-Mmd5p8mE4TPFXTHcmpji4&callback=initMap">
      </script>
    </div>

    
{% endblock %}