{% extends 'main/base.html' %}

{% block content %}
    <main>
    <div class="container">
        <div class='row'></div>

    </div>


    <div class='row'>
    <div class = "col s12 m12 l12">
    <img class='activator responsive-img center-block' src="../static/media/mapa.png" alt="Planets" usemap="#vendedoresMap">
        <map name="vendedoresMap">
          <area shape="circle" coords="555,233,25" id="vendedor1" onclick="vendedor1();">
          <area shape="circle" coords="501,337,25" id="vendedor2" onclick="vendedor2();">
        </map>
     </div>
     </div>


    <script>
        function vendedor1() {
            var vendedor = {{ vendedores|safe }}
            var vendedorId = vendedor[0];
            window.location.href = ("../fichaVendedor/"+ vendedorId);
        }
    </script>

    <script>
        function vendedor2() {
            var vendedor =
            {{ vendedores|safe }}
            var vendedorId = vendedor[1];
            window.location.href = ("../fichaVendedor/" + vendedorId);
        }

    </script>

    <script>
        $(document).ready(function() {
            $('map').imageMapResize();
        });
    </script>
    <script type="text/javascript" src="../static/js/imageMapResizer.min.js"></script>


    </main>
{% endblock %}